.admin-login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.admin-login-form {
    display: flex;
    flex-direction: column;
}

.admin-login-input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.admin-login-button {
    padding: 10px;
    background-color: #051b33;
    color: white;
    border: none;
    cursor: pointer;
}

.remember-me-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

